* {
  margin: 0;
  padding: 0;
}
.navCon {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 3px solid #fff;
}

@media (max-width: 989px) {
  nav {
    background-color: #fff;
  }
  .navTitle {
    color: #2c3e50 !important;
    text-shadow: 1px 1px 1px #ffffff;
  }
}
@media (max-width: 660px) {
  nav {
    background-color: #fff;
  }
  .navTitle {
    color: #2c3e50 !important;
    text-shadow: 1px 1px 1px #ffffff;
  }
}
@media (max-width: 375px) {
  .navTitle {
    color: #2c3e50;
    text-shadow: 1px 1px 1px #ffffff;
  }
  nav {
    background-color: #fff;
  }

  .aboutTitle2Bg {
    font-size: 16px;
  }
}
.navTitle {
  color: #ffff;
  text-shadow: 1px 1px 1px #2c3e50;
}
.navTitle:hover {
  color: #2c3e50;
}
header {
  width: 100%;
}
.headerBg {
  background-image: linear-gradient(
    135deg,
    rgba(31, 68, 121, 0.7),
    rgba(71, 109, 160, 0.5),
    rgba(31, 68, 121, 0.7)
  );
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.headerTitle1 {
  justify-content: space-between;
  font-size: 70px;
  max-width: 90%;
}
.headerTitle1-1 {
  color: #2c3e50;
  font-size: 60px;
}
.headerDivText {
  max-width: 420px;
}

@media (max-width: 768px) {
  .caroImg {
    top: 30% !important;
    height: 300px !important;
  }
}

/* /////About//// */
.aboutImg1 {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.aboutImg2 {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.aboutTitle2Bg {
  position: absolute;
  padding: 0px 40px;
  bottom: 0%;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #2c3e50;
  height: 16%;
  width: 100%;
}
.iconColor,
.iconAbout {
  color: #2c3e50;
  transition: color 0.5s ease;
  display: flex;
  align-items: center;
}
.iconAbout:hover .iconColor {
  color: #fff;
}
.iconAbout {
  transition: background-color 1s ease;
}
.iconAbout:hover {
  background-color: #2c3e50;
}

.imgZoom {
  transition: transform 1s ease;
}

.projectsImg:hover .imgZoom {
  transform: scale(1.1);
}

/* service */

.title1 {
  font-size: 27px;
  background-color: #2c3e50;
  position: relative;
  top: -140px;
  padding: 10px 20px;
  left: 24px;
  width: fit-content;
  transition: background-color 1s ease;
}
.title2 {
  font-size: 27px;
  background-color: #ecf0f1;
  position: relative;
  top: -140px;
  padding: 10px 20px;
  left: 24px;
  width: fit-content;
  transition: background-color 1s ease;
}

.title3 {
  font-size: 27px;
  background-color: #ecf0f1;
  position: relative;
  top: -140px;
  padding: 10px 20px;
  left: 24px;
  width: fit-content;
  transition: background-color 1s ease;
}
.title4 {
  font-size: 27px;
  background-color: #2c3e50;
  position: relative;
  top: -140px;
  padding: 10px 20px;
  left: 24px;
  width: fit-content;
  transition: background-color 1s ease;
}
.description {
  font-size: 18px;
  line-height: 1.6;

  position: relative;
  top: -26px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.serviceBox1 {
  color: #c7c6c6;
  background-color: #2c3e50;
  transition: background-color 1s ease;
}
.serviceBox2 {
  background-color: #ecf0f1;
  transition: background-color 1s ease;
}

.serviceBox2:hover .title2,
.serviceBox2:hover {
  background-color: #2c3e50;
  color: #c7c6c6;
}
.serviceBox3:hover .title3,
.serviceBox3:hover {
  background-color: #2c3e50;
  color: #c7c6c6;
}
.serviceBox1:hover .title1,
.serviceBox1:hover {
  background-color: #ecf0f1;
  color: #000000;
}
.serviceBox4:hover .title4,
.serviceBox4:hover {
  background-color: #ecf0f1;
  color: #000000;
}
.serviceBox3 {
  color: #000000;
  background-color: #ecf0f1;
  transition: background-color 1s ease;
}

.serviceBox4 {
  color: #c7c6c6;
  background-color: #2c3e50;
  transition: background-color 1s ease;
}

/* team */
.zoomContainer{
overflow: hidden;
}
.teamImg{
  transition: transform 0.3s ease-in-out;
}
.zoomContainer:hover .teamImg {
transform: scale(1.1);
}

/* service */
.carotitle::before{
  position: absolute;
  content: "";
  top: 62%;
  width: 40px;
  height: 2px;
 background-color: #2c3e50;
}
.caroBg::before{
  position: absolute;
  content: "";
  top: 0;
  left: -300px;
  width: calc(50% + 45px);
  height: 100%;
 background-color: #2c3e50;
  z-index: -1;
}
.btn-costum .active{
  background-color: #2c3e50;
}
@media (max-width:768px) {
  .caroBg::before{
      width: calc(100% + 45px);
        height: 70%;
        
  }
  
}