* {
  margin: 0;
  padding: 0;
}
.navCon {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 3px solid #fff;
}

@media (max-width: 989px) {
  nav {
    background-color: #fff;
  }
  .navTitle {
    color: #2c3e50 !important;
    text-shadow: 1px 1px 1px #ffffff;
  }
}
@media (max-width: 660px) {
  nav {
    background-color: #fff;
  }
  .navTitle {
    color: #2c3e50 !important;
    text-shadow: 1px 1px 1px #ffffff;
  }
}
@media (max-width: 375px) {
  .navTitle {
    color: #2c3e50;
    text-shadow: 1px 1px 1px #ffffff;
  }
  nav {
    background-color: #fff;
  }

  .aboutTitle2Bg {
font-size: 16px;
  }
}
.navTitle {
  color: #ffff;
  text-shadow: 1px 1px 1px #2c3e50;
}
.navTitle:hover {
  color: #2c3e50;
}
header {
  width: 100%;
}
.headerBg {
  background-image: linear-gradient(
    135deg,
    rgba(31, 68, 121, 0.7),
    rgba(71, 109, 160, 0.5),
    rgba(31, 68, 121, 0.7)
  );
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.headerTitle1 {
  font-size: 60px;
}
.headerTitle1-1 {
  color: #2c3e50;
  font-size: 60px;
}
.headerDivText {
  max-width: 420px;
}

/* .carouselImg{


  width: 100%;
  height: 100%;
background-position: center;
background-size: cover;
object-fit: contain;

}
.carouselSlide{
    width: 100%;
  height: 100%;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
} */

/* /////About//// */
.aboutImg1 {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.aboutImg2 {
  background-position: center;
  background-size: cover;
  width: 100%;


}
.aboutTitle2Bg {
  position: absolute;
  padding: 0px 40px;
  bottom: 0%;
  color: white;
  text-align: center;
  background-color: #2c3e50;
  max-height: 40%;

}
